*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Google fonts  */

.inter-fonts {
  font-family: "Inter", sans-serif;
}
/*  */
.fixed-width{
    margin-right: 120px;
    margin-left: 120px;
}
.navigation {
    background-color: #f8f9fa;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 16px 0px; 
    /* border: 1px solid red;   */
}

.navigation img{
    width: 139px;
    height: 60px;
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px 12.5px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600px;
}
.btn:hover{
    background-color: #1404a0;
    cursor: pointer;
}

/* start Banner Section */
#banner{
    background: url("/assets/hero-bg.png") no-repeat center center;
    width: 100%;
    height: 674px;
    background-size: cover;
}
#banner .banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.banner-container .early-access-btn{
    color: #469165;
    font-size: 16px;
    font-weight: 400px;
    padding: 8px 12px;
    border: none;
    border-radius: 25px;
}
.early-access-btn:hover{
    background-color: #1404a0;
    color: white;
    cursor: pointer;
}
.banner-container h1{
    font-size: 48px;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
}
.double-color{
    color: #469165;
}
.banner-container p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400px;
    line-height: 35px;
    margin-bottom: 32px;
}
.banner-container .banner-btn{
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-lft-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-btn-right{
    background-color: transparent;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;   
}
.banner-btn-right:hover{
    border: 1px solid #1404a0;
}
.banner-btn-right img{
    width: 16px;
    height: 16px;
}
