*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Google fonts  */

.inter-fonts {
  font-family: "Inter", sans-serif;
}
/*  */
.fixed-width{
    margin-right: 120px;
    margin-left: 120px;
}
.navigation {
    background-color: #f8f9fa;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 16px 0px; 
    /* border: 1px solid red;   */
}

.navigation img{
    width: 139px;
    height: 60px;
}

.navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px 12.5px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600px;  
}
.btn:hover{
    background-color: #1404a0;
    cursor: pointer;
}

/* start Banner Section */
#banner{
    background: url("./assets/hero-bg.png") no-repeat center center;
    width: 100%;
    height: 674px;
    background-size: cover;
}
#banner .banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.banner-container .early-access-btn{
    color: #469165;
    font-size: 16px;
    font-weight: 400px;
    padding: 8px 12px;
    border: none;
    border-radius: 25px;
}
.early-access-btn img{
    width: 13px;
    height: 13px;
    padding-top: 2px;
}
.early-access-btn:hover{
    background-color: #1404a0;
    color: white;
    cursor: pointer;
}
.banner-container h1{
    font-size: 48px;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
}
.double-color{
    color: #469165;
}
.banner-container p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400px;
    line-height: 35px;
    margin-bottom: 32px;
}
.banner-container .banner-btn{
    display: flex;
    gap: 20px;
    align-items: center;
}

.banner-lft-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-btn-right{
    background-color: transparent;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;   
}
.banner-btn-right:hover{
    border: 1px solid #1404a0;
}
.banner-btn-right img{
    width: 16px;
    height: 16px;
}
/* end Banner Section */
/* start Main Section */
.card-heading{
    text-align: center;
    padding-top: 50px;
}
.card-heading h1{
    font-size: 48px;
    font-weight: bold;
}

.card-heading p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
}
.card-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card-1{
    width: 322px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.1);  
}
.card-1 img{
    width: 60px;
    height: 60px;
}
.card-1 h4{
    color:#001931;
    font-size: 24px;
}
/* end card section */

/* start knowledge section */

#knowledge{
    display: flex;
    align-items: center;
    margin-top: 120px;
}
#knowledge .knowledge-img  img{
    width: 600px;
    height: 600px;
}

.knowledge-content{
    padding-left: 70px;
}
.knowledge-content-p{
    font-size: 16px;
    font-weight: 600px;
    color: #469165;
}
.knowledge-content h1{
    font-size: 48px;
    font-weight: bold;
    padding-top: 16px;
}

.knowledge-content-description{
    color: #627382;
    padding-top: 16px;
}
.knowledge-checkCircle{
    padding-top: 40px;
}
.knowledge-checkCircle div{
    display: flex;
    align-items: center;
    gap: 6px;
    padding-bottom: 16px;
}
/* end knowledge section */
/* start think-more section */
#think-more{
    margin-top: 120px;
}
.think-more-container{
    background-color:#F7F6F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.think-more-container h1{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}
.think-more-container p{
    color: #627382;
    padding-top: 16px;
    padding-bottom: 24px;
}

.think-more-container .think-more-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer{
    background-color: #001931;
    margin-top: 120px;
}
#footer .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 30px;
    padding-right: 80px;
}
.footer-content p{
    font-size: 16px;
    font-weight: 500;
    color:#FFFFFF;
    padding-bottom: 16px;
}
.footer-content img{
    padding-right: 10px;
    cursor: pointer;
}

#footer .copy-right{
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px
}